@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: Arial;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #1d3557;
  --primary-color: #f1faee;
  --secondary-color: #a8dadc;
  --primary-shadow: #9DD9D2;
  --secondary-shadow: #392F5A;
  --bottom-margin: 1.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --variable-name: value;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--bg-color);
  font-style: normal;
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body, html {
  font-family: var(--font-family);
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #315a74;
}

selector {
  property: var(--variable-name);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--normal-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.site-hero {
  background-image: url(/assets/images/Mohammed_Ashfaq.jpg);
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

}

.site-hero, .site-hero .row {
  height: 100vh;
  min-height: 730px;
}

.site-hero:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.site-hero h1 strong {
  font-weight: 800;
}

@media (min-width: 768px) {
  .site-hero {
    background-image: url(/assets/images/MA_Headshot.png);
  }

  .site-hero h1 {
    font-size: 70px;
  }
}

.site-hero h1, .site-hero .lead {
  font-weight: 200;
  color: var(--primary-color);
}

.site-hero .lead {
  line-height: 2;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-center {
  text-align: center !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.col, .col-sm-4, .col-sm-6, .col-md-6, .col-md-7, .col-md-10, .col-lg-4, .col-lg-5, .col-lg-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15rem;
}

.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

h1, .h1 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.letter-spacing {
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.d-block {
  display: block !important;
}

b, strong {
  font-weight: bolder;
}


.collapsible {
  background-color: #f1faee;
  color: #1d3557;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible img {
  display: block;
}

.active, .collapsible:hover {
  background-color: #e63946;
  color: #f1faee;
}

.collapsible:after {
  content: '\002B';
  color: #1d3557;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 28px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: inherit;
  color: #f1faee;

}


.experience {
  padding: 1rem 6rem;
}


.experience h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: var(--primary-color);
}

.uk-timeline .uk-timeline-item .uk-card {
  max-height: 300px;
}

.uk-timeline .uk-timeline-item {
  display: flex;
  position: relative;
}

.uk-timeline .uk-timeline-item::before {
  background-color: #f1faee;
  content: "";
  height: 100%;
  left: 19px;
  position: absolute;
  top: 20px;
  width: 2px;
  z-index: -1;
}

.uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.uk-timeline .uk-timeline-item .uk-timeline-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 0 0 1rem;
}

.uk-card-body {
  display: flow-root;
  padding: 10px 30px;
}

.education {
  padding: 1rem 6rem;
}

.education h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: var(--primary-color);
  font-style: normal;
}

.education table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
  padding: 1rem 6rem;
}

.fixed {
  table-layout: fixed;
}


table,
td,
th {
  width: 33%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: solid 0.5px;
  text-align: center;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.feature {
  font-size: .8rem;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-12 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  border: green;
}

.col-12 h2 {
  font-size: x-large;
  font-style: normal;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: var(--primary-color);
  font-style: normal;
}

.skill-div {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  /* display: block; */
  width: 30%;
  color: #795548;
  font-size: 3rem;
  text-align: center;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  padding: 0 0;
  margin-top: 2rem;
}

.project-pic {
  width: 15rem;
  height: 10rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: var(--bottom-margin);
  color: var(--primary-color);
  font-style: normal;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #f1faee;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.contact {
  margin-top: 2rem;
}

.contact h1 {
  text-align: center;
  margin-bottom: var(--bottom-margin);
  color: var(--primary-color);
  font-style: normal;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 0 3px 10px var(--secondary-shadow); */
  background-color: #f1faee;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: #1d3557;
  font-style: normal;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset #1d3557;
  font-size: 0.875rem;
  outline: none;
  background-color: #a8dadc;
  color: #1d3557;
  padding-left: 5px;
  font: inherit;
  font-style: normal;
}

.input-field::placeholder {
  padding: 1.0rem;
  color: #1d3557;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #1d3557;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  color: #f1faee;
}

.submit-btn:hover {
  background-color: #e63946;
  border: 2px solid #1d3557;
  cursor: pointer;
}


.contact_or {
  text-align: center;
  color: #1d3557;
  font-style: normal;
}



.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

footer {
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  color: #f1faee;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}




@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/

  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
    padding: 20rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  table,
  td,
  th {
    width: 20%;
    border-collapse: collapse;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {

  .experience {
    padding: 1rem 0rem;
  }

  .uk-card-header {
    display: flow-root;
    padding: 10px 15px;
  }

  .uk-card-title {
    font-size: 1rem;
    line-height: 1.1;
  }

  .uk-card-body {
    display: flow-root;
    padding: 30px 15px;
  }

  .education {
    padding: 1rem 1rem;
  }

  .project-container {
    width: 20.875rem;
  }

  table,
  td,
  th {
    width: 20%;
    border-collapse: collapse;
    background-color: khaki;
  }

  .col-12 h2 {
    font-size: small;
    font-weight: bold;
    font-size: large;
  }

}

@media screen and (max-width: 420px) {

  .bio {
    width: 70.3rem;
    padding-top: 1%;
  }

  .bio-text p {
    font-size: 1rem;
  }

  .experience {
    padding: 1rem 0rem;
  }

  .uk-card-header {
    display: flow-root;
    padding: 10px 15px;
  }

  .uk-card-title {
    font-size: 1rem;
    line-height: 1.1;
  }

  .uk-card-body {
    display: flow-root;
    padding: 30px 15px;
  }

  .education {
    padding: 1rem 1rem;
  }

  .project-container {
    width: 20.875rem;
  }

  table,
  td,
  th {
    width: 20%;
    border-collapse: collapse;
    background-color: khaki;
  }

  .contact-form-container {
    max-width: 20.875rem;
  }

  .col-12 h2 {
    font-size: small;
    font-weight: bold;
    font-size: medium;
  }
}